@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

@theme {
  --color-primary-200: #7dafa3 ;
  --color-primary-400: #3e7f6f ;
  --color-primary-800: #1c3831;
  --color-secondary-200: #56452e;
  --color-secondary-400: #8a6e4a;
  --color-secondary-800:#c5ad8d;
  --color-danger-200:#ad52ba;
  --color-danger-800:#cd7cd9;
  --color-bg:#E2E6DA;
  --color-bg-inverse:#E2E6DA;
}

@layer base {
  /* Local fonts served from `public/fonts` */
  @font-face {
    font-family: 'BluePrint';
    src: url('/fonts/BluePrinted.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Mont (demo files included in public/fonts) */
  @font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-ExtraLightDEMO.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-HeavyDEMO.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }


  /* Utility classes / variables for usage */
  .font-display { font-family: 'BluePrinted', var(--font-sans); }
  .font-mont { font-family: 'Mont', var(--font-sans); }
}

body {
  color: #3e7f6f ;
  font-family: var(--font-sans);
}
